<!doctype html>  
<html lang="en">
  <head>
    <title>BackboneTutorials Beginner Videos</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>User manager</h1>
      <div class="page"></div>



      <script type="text/template" id="user-list-template">
        <table class="table striped">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Age</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% _.each(users, function(user) { %>
            <tr>
              <td><%= user.get('firstname') %></td>
              <td><%= user.get('lastname') %></td>
              <td><%= user.get('age') %></td>
              <td></td>
            </tr>
            <%  }); %>
          </tbody>
        </table>
      </script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>
      <script type="text/javascript">

        $.ajaxPrefilter( function( options, originalOptions, jqXHR){
          options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
        });

        var Users = Backbone.Collection.extend({
          url: '/users'
        });

        var UserList = Backbone.View.extend({
          el: '.page',
          render: function() {
            var that = this;
            var users = new Users();
            users.fetch({
              success: function (users) { 
                var template = _.template($('#user-list-template').html(), {users: users.models});
                that.$el.html(template)                
              }
            })
          }
        });

        var userList = new UserList();


        var Router = Backbone.Router.extend({
          routes: {
            '': 'home' 
          }
        });
        var router = new Router();
        router.on('route:home', function() {
          userList.render();
        });

        Backbone.history.start();


      </script>
    </div>
  </body>
</html>